.projects-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.projects-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 90vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
  background-position: center;
}
.projects-text {
  color: var(--dl-color-gray-white);
  width: 993px;
  font-size: 6rem;
  max-width: auto;
  font-style: italic;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Lato";
  font-weight: 700;
  text-shadow: 2px 2px 10px black;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 3px;
  text-transform: uppercase;
}
.projects-text01 {
  color: rgb(255, 222, 89);
  width: 800px;
  height: var(--dl-size-size-medium);
  font-size: 32px;
  font-style: italic;
  text-align: center;
  font-family: "Lato";
  font-weight: 700;
  line-height: 1.5;
  text-shadow: 2px 2px 2px black;
}
.projects-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.projects-container01 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.projects-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
.projects-image {
  width: 500px;
  object-fit: cover;
}
.projects-container02 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.projects-text02 {
  font-size: 60px;
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: underline;
}
.projects-container03 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.projects-text05 {
  color: var(--dl-color-gray-500);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.projects-button {
  color: #ffffff;
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  border-color: #121A46;
  background-color: #121A46;
}
.projects-button:hover {
  color: #000000;
  border-color: #5Ce1e6;
  background-color: #5CE1E6;
}
.projects-action1 {
  font-size: 21px;
  text-align: center;
  font-family: "Lato";
  font-weight: 700;
}
.projects-container04 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.projects-blog-post-card1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
.projects-image1 {
  width: 500px;
  object-fit: cover;
}
.projects-container05 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.projects-text06 {
  font-size: 60px;
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: underline;
}
.projects-container06 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.projects-text07 {
  color: var(--dl-color-gray-500);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.projects-button1 {
  color: #ffffff;
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  border-color: #121A46;
  background-color: #121A46;
}
.projects-button1:hover {
  color: #000000;
  border-color: #5ce1e6;
  background-color: #5ce1e6;
}
.projects-action11 {
  font-size: 21px;
  text-align: center;
  font-family: "Lato";
  font-weight: 700;
}
.projects-container07 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.projects-blog-post-card2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
.projects-image2 {
  width: 500px;
  object-fit: cover;
}
.projects-container08 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.projects-text08 {
  font-size: 60px;
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: underline;
}
.projects-container09 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.projects-text09 {
  color: var(--dl-color-gray-500);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.projects-button2 {
  color: #ffffff;
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  border-color: #121A46;
  background-color: #121A46;
}
.projects-button2:hover {
  color: #000000;
  border-color: #5ce1e6;
  background-color: #5ce1e6;
}
.projects-action12 {
  font-size: 21px;
  text-align: center;
  font-family: "Lato";
  font-weight: 700;
}
.projects-container10 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.projects-blog-post-card3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
.projects-image3 {
  width: 500px;
  object-fit: cover;
}
.projects-container11 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.projects-text10 {
  font-size: 60px;
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: underline;
}
.projects-container12 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.projects-text11 {
  color: var(--dl-color-gray-500);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.projects-button3 {
  color: #ffffff;
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  border-color: #121A46;
  background-color: #121A46;
}
.projects-button3:hover {
  color: #000000;
  border-color: #5ce1e6;
  background-color: #5ce1e6;
}
.projects-action13 {
  font-size: 21px;
  text-align: center;
  font-family: "Lato";
  font-weight: 700;
}
.projects-blog-post-card4 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
.projects-image4 {
  width: 500px;
  object-fit: cover;
}
.projects-container13 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.projects-text12 {
  font-size: 60px;
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: underline;
}
.projects-container14 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.projects-text15 {
  color: var(--dl-color-gray-500);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.projects-button4 {
  color: #ffffff;
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  border-color: #121A46;
  background-color: #121A46;
}
.projects-button4:hover {
  color: #000000;
  border-color: #5ce1e6;
  background-color: #5ce1e6;
}
.projects-action14 {
  font-size: 21px;
  text-align: center;
  font-family: "Lato";
  font-weight: 700;
}
@media(max-width: 1200px) {
  .projects-text {
    color: var(--dl-color-gray-white);
    width: auto;
    font-size: 6rem;
    font-style: italic;
    font-family: Lato;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .projects-text01 {
    color: rgb(255, 222, 89);
    width: 800px;
    height: var(--dl-size-size-medium);
    font-size: 32px;
    font-style: italic;
    text-align: center;
    font-family: Lato;
    font-weight: 700;
    line-height: 1.5;
    text-shadow: 2px 2px 10px black;
  }
}
@media(max-width: 991px) {
  .projects-image {
    width: 50%;
  }
  .projects-image1 {
    width: 50%;
  }
  .projects-image2 {
    width: 50%;
  }
  .projects-image3 {
    width: 50%;
  }
  .projects-image4 {
    width: 50%;
  }
}
@media(max-width: 767px) {
  .projects-container {
    background-color: white;
  }
  .projects-hero {
    width: 100%;
    height: 73px;
    max-width: auto;
    min-width: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-text01 {
    width: auto;
  }
  .projects-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .projects-image {
    width: 100%;
  }
  .projects-container02 {
    width: 100%;
  }
  .projects-text02 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-text03 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-container03 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-blog-post-card1 {
    flex-direction: column;
    justify-content: space-between;
  }
  .projects-image1 {
    width: 100%;
  }
  .projects-container05 {
    width: 100%;
  }
  .projects-text06 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-container06 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-blog-post-card2 {
    flex-direction: column;
    justify-content: space-between;
  }
  .projects-image2 {
    width: 100%;
  }
  .projects-container08 {
    width: 100%;
  }
  .projects-text08 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-container09 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-blog-post-card3 {
    flex-direction: column;
    justify-content: space-between;
  }
  .projects-image3 {
    width: 100%;
  }
  .projects-container11 {
    width: 100%;
  }
  .projects-text10 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-container12 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-blog-post-card4 {
    flex-direction: column;
    justify-content: space-between;
  }
  .projects-image4 {
    width: 100%;
  }
  .projects-container13 {
    width: 100%;
  }
  .projects-text12 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-text13 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-container14 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .projects-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projects-text {
    width: auto;
    font-size: 5rem;
  }
  .projects-text01 {
    width: auto;
    font-family: Lato;
  }
  .projects-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projects-button {
    width: 100%;
  }
  .projects-button1 {
    width: 100%;
  }
  .projects-button2 {
    width: 100%;
  }
  .projects-button3 {
    width: 100%;
  }
  .projects-button4 {
    width: 100%;
  }
}
