* {
  margin: 0;
  padding: 0;

}

.project-page-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.project-page-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 90vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  border-width: 20;
  border-color: blue;
  background-color: var(--dl-color-gray-black);
  background-position-x: center;
  background-position-y: var(--dl-size-size-medium);
  background-size: contain;
  background-repeat: no-repeat;
}

.project-page-hero::before {
  content: "";
  display: "block";
  width: 100%;
  min-height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
}

.project-page-text {
  color: var(--dl-color-gray-white);
  width: 993px;
  font-size: 6rem;
  max-width: auto;
  font-style: italic;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Lato";
  font-weight: 700;
  text-shadow: 2px 2px 10px black;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 3px;
  text-transform: uppercase;
  position: absolute;
  z-index: 3;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}

.intro-target-title {
  font-family: "Lato";
  font-weight: 800;
  font-size: 4.5rem;
}

.intro-target-text {
  margin-top: 40px;
  font-family: "Lato";
  font-weight: 600;
  font-size: 4rem;
}

.intro-problem-container {
  width: 65%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.intro-problem-text {
  font-family: "Lato";
  font-weight: 600;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 3rem;
}

.desc-container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(255, 222, 89);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc-title {
  margin-top: 40px;
  font-family: "Lato";
  font-weight: 800;
  font-size: 5rem;
}

.desc-text {
  margin-top: 40px;
  font-family: "Lato";
  width: 60%;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  line-height: 3rem;
  margin-bottom: 40px;
}

.awards-container,
.partnership-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  justify-content: center;
}

.partnership-container {
  background-color: rgb(211, 242, 253);
  padding-top: 80px;
  padding-bottom: 80px;
}

.awards-title,
.partnership-title {
  font-family: "Lato";
  font-weight: 800;
  font-size: 5rem;
  margin-top: 40px;
}

.awards-list,
.partnership-list {
  margin-top: 40px;
  margin-bottom: 40px;
}

.awards-item,
.partnership-item {
  font-family: "Lato";
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  line-height: 3rem;
  margin-bottom: 20px;
  margin-top: 20px;
  /* border: 2px solid black; */
}